.app-grid--dark {
  color: white !important;
}

.header--dark {
  background-color: var(--darkteal) !important;
}

.footer--dark {
  background-color: var(--darkteal) !important;
}

.content--dark {
  background-color: var(--darkyell) !important;
}

.quizcard__card--dark {
  background-color: var(--darkteal) !important;
  border: 1px solid var(--lightyell) !important;
  box-shadow: 0 0 15px rgb(0, 0, 0) !important;
}

.quizcard__headline--dark {
  background-color: var(--light) !important;
  color: black !important;
}

.create__input--dark {
  background-color: var(--grey) !important;
  color: white !important;
  border: none;
}

.create__submit--dark {
  background-color: var(--teal);
  box-shadow: 0 0 10px var(--teal);
}
.answerBox--dark {
  background-color: lightslategray !important;
  border: 1px solid var(--light) !important;
}

.counter--dark {
  color: white !important;
}

.profil__info--dark {
  background-color: var(--blue) !important;
}
