:root {
  --blue: #0081a7;
  --teal: #00afb9;
  --lightyell: #fdfcdc;
  --light: #fcfcf5;
  --peach: #fed9b7;
  --sweet: #f07167;
  --white: #ffffff;
  --gold: #f7b100;

  /* darkmode */
  --darkteal: #003e42;
  --darkyell: #414141;
  --grey: #9b9b9b;
}
