.bookmark__outside {
  position: absolute;
  color: rgb(85, 85, 85);
  cursor: pointer;
  font-size: 40px;
  top: -20px;
  right: 20px;
}

.bookmark__inside {
  position: absolute;
  color: var(--light);
  font-size: 40px;
  top: -20px;
  right: 20px;
}

.bookmark__marked {
  color: var(--gold);
}
