.bookmark__sign {
  position: absolute;
  color: var(--sweet);
  font-size: 40px;
  top: -20px;
  right: 20px;
  cursor: pointer;
}

.unmarked {
  color: darkgrey;
}

.marked {
  color: var(--gold);
}
