.content {
  grid-area: main;
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--light);
}

.content__position {
  display: grid;
  gap: 10px;
  margin-top: 15px;
}
