.app-grid__header {
  grid-area: header;
  background-color: var(--teal);
  text-align: center;
  color: white;
  font-size: 10px;
  box-shadow: 0 -5px 30px rgb(0, 0, 0);
  z-index: 1;
}

.header__heading {
  margin: 0;
}

.header__heading-box {
  width: 125px;
  height: 35px;
  padding-top: 3px;
  box-shadow: 0 0 15px #0004428c;
}
