.footer {
  grid-area: footer;
  background-color: var(--teal);
  text-align: center;
  box-shadow: 0 10px 30px rgb(0, 0, 0);

  pointer-events: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 100%;
  font-size: 35px;
  color: white;
  pointer-events: all;
}

.navigation__button {
  color: var(--lightyell);
  font-size: 30px;
}

.current__link {
  color: var(--blue);
}
