.quizcard__card {
  width: auto;
  height: auto;
  margin: 15px 0;
  position: relative;
  background-color: var(--light);
  text-align: center;
  border: 2px solid var(--blue);
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(150, 150, 150);
}

.quizcard__card--headline {
  padding-left: 10px;
  margin-top: 10px;
  text-align: left;
  background-color: var(--blue);
}

.quizcard__details--box {
  width: 80%;
  margin: 15px auto;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--white);
}

.quizcard__details--summary {
  background-color: var(--peach);
}
