.quizcard__card {
  width: auto;
  height: auto;
  margin: 15px 0;
  position: relative;
  background-color: var(--light);
  text-align: center;
  border: 2px solid var(--blue);
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(150, 150, 150);
}

.quizcard__headline {
  padding-left: 10px;
  margin-top: 10px;
  text-align: left;
  background-color: var(--blue);
}

.quizcard__details {
  width: 80%;
  margin: 15px auto;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--white);
}

details[open] .answer__show {
  display: none;
}
details[open] .answer__hide {
  display: inline-block;
}

details .answer__hide {
  display: none;
}

.quizcard__answer-button {
  background-color: var(--peach);
}

.quizcard__tags {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  list-style-type: none;
  padding: 0;
  font-size: 11px;
}

.quizcard__tags li {
  background-color: var(--teal);
  padding: 2px 4px;
  border-radius: 4px;
  margin: 4px;
}
