<section class="quizcard__card">
  <div class="quizcard__bookmark--box">
    <div class="bookmark__box--inside">
      <i class="fas fa-bookmark"></i>
    </div>
    <div class="bookmark__box--outside">
      <i class="far fa-bookmark"></i>
    </div>
  </div>
  <h3 class="quizcard__card--headline">Question:</h3>
  <p>How many fingers does a person have?</p>
  <details class="quizcard__details--box">
    <summary class="quizcard__details--summary">Answer</summary>
    <p>Five</p>
  </details>
</section>
