<section class="quizcard__card">
  <div role="button" class="bookmark__sign unmarked">
    <i class="fas fa-bookmark"></i>
  </div>

  <h3 class="quizcard__headline">Question:</h3>
  <p>How many fingers does a person have?</p>
  <details class="quizcard__details">
    <summary class="quizcard__answer-button">
      <span class="answer__show">Show answer</span>
      <span class="answer__hide">Hide answer</span>
    </summary>
    <p>Five</p>
  </details>
  <ul class="quizcard__tags">
    <li>CSS</li>
    <li>HTML</li>
    <li>Javascript</li>
    <li>Mathe</li>
    <li>Englisch</li>
  </ul>
</section>
